<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/notice.css">
</head>

<body>

<th:block th:replace="fragments/adminHeader :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

<div class="pathbox">
    <h2>Pathbox</h2>
</div>

<div class="row">
    <div class="column side">
        <ul class="sidemenu">
            <h2>Menu</h2>
            <li id="now"><a href="/notice">공지사항</a></li>
            <li><a href="/board">자유게시판</a></li>
            <li><a href="#">가입</a></li>
            <li><a href="#">소개</a></li>
            <li><a href="#">행사</a></li>
        </ul>
    </div>

    <div class="column middle">
        <h1><a href="/notice">공지사항</a></h1>

        <form action="/notice" method="get">
            <div class="row">
                <div class="col-md-8 mb-3">
                    <select id="searchBox" class="custom-select d-block w-100" name="select">
                        <option value="title" th:selected="${#strings.equals(param.select, 'title')}">제목</option>
                        <option value="writer" th:selected="${#strings.equals(param.select, 'writer')}">작성자</option>
                    </select> <input type="text" class="form-control" name="word"
                                     placeholder="검색어" th:selected="${#strings.equals(param.word, '')}" required>
            <!--                           placeholder="" th:value="${param.word}" required>-->
                    <input type="submit" value="검색">
                </div>
            </div>
        </form>

        <form action="/delNotice" method="post">
            <table class="noticetable">
                <tr id="tableheader">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                    <th>파일</th>
                    <th scope="cols">선택</th>
                </tr>

                <tbody>
                <tr th:each="n : ${list}">
                    <input type="hidden" name="n" th:value="${n.num}">
                    <td th:text="${n.n}">-</td>
                    <td th:text="${n.title }"><a th:href="@{notice/noticeDetail(num = ${n.num})}"></a></td>
                    <td th:text="${n.writer}">-</td>
                    <td th:text="${n.date}">-</td>
                    <td>0</td>
                    <td>-</td>
                    <td><input type="checkbox" name="del_id" th:value="${n.num}"></td>
                </tr>
                </tbody>
            </table>
    </div>
</div>



<div>
    <button class="btn btn-danger btn-lg btn-block" style="float: right;" type="submit">삭제</button>
</div>
</form>
<div>
    <button class="btn btn-success btn-lg btn-block" onclick="location.href='/notice/noticeWrite'"
            style="float: right;" type="submit">글쓰기
    </button>
</div>
</div>

<div class="footer">
    <p>Footer</p>
</div>
</body>
</html>