<!DOCTYPE html>
<html>
<head>
    <title>자세한 페이지</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/noticedetail.css">

</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

<div class="row">
    <div class="leftcolumn">
        <div class="card" th:each="n : ${boardList}">
            <div class="detailheader">
                <h2 th:text="${n.title }">제목</h2>
                <div class="list">
                    <ul class="detailheaderlist" >
                        <li th:text="'작성자:' + ${n.title}">작성자></li>
                        <li>조회 수 : 0</li>
                        <li th:text="${'등록일:' + n.date}">작성일></li>
                    </ul>
                </div>
            </div><!---->
            <div class="detailcontent" style="height:auto; ">
                <p class="noticect" th:utext="${n.content}">글 내용</p>
            </div>
            <div class="detailfooter">
                <button type="button" onclick="location.href='/writeComment'">댓글달기</button>
                <button type="button" onclick="location.href='/notice'">목록</button>
            </div>

            <form action="/delNotice" method="post">
                <table class="noticetable">
                    <tr id="tableheader">
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>내용</th>
                    </tr>

                    <tbody th:each="b : ${commentList}">
                    <tr>
                        <td th:text="${b.writer}">작성자</td>
                        <td th:text="${b.date }">날짜</td>
                        <td th:text="${b.content}">내용</td>
            </form>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>
</body>
</html>