<!DOCTYPE html>
<html lnag="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>KNUT_LUB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>

<body>

<!--<div class="topnav">

    &lt;!&ndash;<a href="/login">login</a>&ndash;&gt;

    <a href="/login" th:text="${session.login}">Login</a>

    <a onclick="window.location.reload()">Home</a>
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">
                <img id="searchicon" src="/img/search.png" alt=""><i
                    class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>

<div class="navbar">
    <div class="logo">
        <a onclick="window.location.reload()"><img src="/img/logo.jpg"></a>
    </div>

    <div id="menu">
        <ul>
            <li><a href="/notice">공지사항</a></li>
            <li><a href="/board">자유게시판</a></li>
            <li><a href="#">가입</a>
                <ul>
                    <li><a href="/joinClub/chungju">충주캠퍼스</a></li>
                    <li><a href="/joinClub/uiwang">의왕캠퍼스</a></li>
                    <li><a href="/joinClub/jeungpyeong">증평캠퍼스</a></li>
                </ul>
            </li>
            <li><a href="#">소개</a>
                <ul>
                    <li><a href="#">동아리란?</a></li>
                    <li><a href="#">가입 방법</a></li>
                </ul>
            </li>
            <li><a href="#">행사</a>
                <ul>
                    <li><a href="#">동아리 행사</a></li>
                    <li><a href="#">동아리 페어</a></li>
                </ul>
            </li>
            &lt;!&ndash;<li><a href="#">회원관리</a>
                <ul>
                    <li><a href="/VIEW/memberlist/memberlist">회원목록</a></li>
                    <li><a href="/VIEW/permission/permission">승인목록</a></li>
                </ul>
            </li>&ndash;&gt;
        </ul>
    </div>
</div>-->

<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>


<div class="slidebox">
    <input type="radio" name="slide" id="slide01" checked>
    <input type="radio" name="slide" id="slide02">
    <input type="radio" name="slide" id="slide03">
    <input type="radio" name="slide" id="slide04">
    <ul class="slidelist">
        <li class="slideitem">
            <div>
                <label for="slide04" class="left"></label>
                <label for="slide02" class="right"></label>
                <a><img src="/img/main_2.png"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide01" class="left"></label>
                <label for="slide03" class="right"></label>
                <a><img src="/img/main_4.png"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide02" class="left"></label>
                <label for="slide04" class="right"></label>
                <a><img src="/img/main_5.png"></a>
            </div>
        </li>
        <li class="slideitem">
            <div>
                <label for="slide03" class="left"></label>
                <label for="slide01" class="right"></label>
                <a><img src="/img/main_6.jpg"></a>
            </div>
        </li>
    </ul>
    <!-- <ul class="paginglist">
       <li>
          <label for="slide01"></label>
       </li>
       <li>
          <label for="slide02"></label>
       </li>
       <li>
          <label for="slide03"></label>
       </li>
       <li>
          <label for="slide04"></label>
       </li>
    </ul> -->
</div>

<div class="row">

    <div class="column middle">
        <h2>공지사항</h2>

        <form action="/notice" method="post">
            <table class="noticetable">
                <tr class="Tableh">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                </tr>


                <tbody>
                <tr th:each="n : ${noticeList}">
                    <input type="hidden" name="n" th:value="${n.num}">
                    <td th:text="${n.n}">-</td>
                    <td th:text="${n.title }"><a th:href="@{notice/noticeDetail(num = ${n.num})}"></a></td>
                    <td th:text="${n.writer}">-</td>
                    <td th:text="${n.date}">-</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="column middle">
        <h2>자유게시판</h2>

        <form action="/board" method="post">
            <table class="noticetable">
                <tr class="Tableh">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                </tr>


                <tbody>
                <tr th:each="b : ${boardList}">
                    <input type="hidden" name="n" th:value="${b.num}">
                    <td th:text="${b.n}">-</td>
                    <td th:text="${b.title }"><a th:href="@{notice/noticeDetail(num = ${n.num})}"></a></td>
                    <td th:text="${b.writer}">-</td>
                    <td th:text="${b.date}">-</td>
                    <td>0</td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>


</div>

<div class="footer">
    <p>Footer</p>
</div>
</body>
</html>
