<!DOCTYPE html>
<html lang="en">
<head>
    <title>비밀번호 찾기</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/foundPw.css">
</head>
<body>

<div class="header">
    <h1>Header</h1>
    <p>Resize the browser window to see the responsive effect.</p>
</div>

<div class="topnav">
    <a href="#">Link</a>
    <a href="#">Link</a>
    <a href="#">Link</a>
</div>

<div class="row">
    <div class="column side">
    </div>
    <div class="column middle">
        <h2>비밀번호 찾기</h2>
        <div class="findwrap">
            <div class="pwFind">
                <div class="findip">
                    <p>학번 : </p><input type="text">
                    <p>이름 : </p><input type="text">
                </div>
                <input id="findBtn" type="submit" value="찾기">
            </div>

        </div>
    </div>
    <div class="column side">
    </div>
</div>

<div class="footer">
    <p>Footer</p>
</div>

</body>
</html>