<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:fragment="headerFragment">
    <div class="topnav">
        <th:block th:if="${#strings.isEmpty(session.studentID)}">
            <a th:href="@{/login}" th:text="Login">Login</a>
        </th:block>
        <th:block th:if="${not #strings.isEmpty(session.studentID)}">
            <a th:href="@{/login/logout}" th:text="Logout">Logout</a>
        </th:block>
        <!--<a href="/login" th:text="${session.login}">Login</a>-->
        <!--<a onclick="window.location.reload()">Home</a>-->
        <th:block th:if="${#strings.isEmpty(session.studentID)}">
            <a th:href="@{/check}" th:text="회원가입">회원가입</a>
        </th:block>
        <th:block th:if="${not #strings.isEmpty(session.studentID)}">
            <a th:href="@{/mypage}" th:text="MyPage">MyPage</a>
        </th:block>
        <a href="/">Home</a>
    </div>

    <!-- 네비게이션 바-->
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="/img/logo.jpg"></a>
        </div>

        <div id="menu">
            <ul>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/board">자유게시판</a></li>
                <li>동아리
                    <ul>
                        <li><a href="/clubJoin">조회 및 가입</a></li>
                        <li><a href="/joinManual">가입 방법</a></li>
                    </ul>
                </li>
                <li>소개
                    <ul>
                        <li><a href="/aboutClub">동아리란?</a></li>
                        <li><a href="/arrange">동아리 배치도</a></li>
                    </ul>
                </li>
                <li><a href="/event">동아리 행사</a></li>
                <li th:if="${session.grade == 'admin'}">회원관리
                    <ul>
                        <li><a href="/memberList">회원목록</a></li>
                        <li><a href="/permissionList">승인목록</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>