* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;

}



/*.picture {*/
/*    background-color: white;*/
/*    text-align: center;*/
/*}*/

/*.picture img{*/
/*    width: 100%;*/
/*    height: 500px;*/
/*}*/
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(109, 13, 13);
}
/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
}
/* Change color on hover */
.topnav a:hover {
    background-color: white;
    color: black;
}

/* search bar */

.topnav .search-container {
    float: right;
    margin-right: 20px;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 32px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

#searchicon{
    height: 30px;
}
.navbar {
    background-color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.navbar .logo{
    width: 25%;
    display: inline-block;
    margin-right: 350px;


}
.navbar .logo img{
    width: 250px;
    height: 80px;
}
/* navigaionbar */
* {
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a {
    text-decoration: none;
    color:black;
}

#menu {
    font:bold 20px "malgun gothic";
    width:800px;
    height:50px;
    background: white;
    color:black;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;

}

#menu > ul > li {
    float:left;
    width:120px;
    position:relative;

}
#menu > ul > li > ul {
    width:130px;
    display:none;
    position: absolute;
    font-size:14px;
    background: white;
    border: 3px solid rgb(109, 13, 13);

}
#menu > ul > li:hover > ul {
    display:block;

}
#menu > ul > li > ul > li:hover {
    background: #ddd;
    transition: ease 1s;
}

/* Create three unequal columns that floats next to each other */


.column {
    float: left;
    padding: 10px;
}

/* Middle column */
.column.middle {
    width: 50%;
    margin-bottom: 20px;

}

.column.middle h2{
    text-align: center;
    margin-bottom: 20px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.middle {
        width: 100%;
    }
}
/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/*사이드 바 CSS*/
* {
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
input[id="menuicon"] {
    display:none;
}
input[id="menuicon"] + ul {
    display:block;
    position:fixed;
    right:0;top:10%;
    transform:translateY(-50%);
    transition:all .35s;
    text-align:right;
}
input[id="menuicon"] + ul > li {
    display:block;
    width:50px;
    height:50px;
    border:1px solid #f1f1f1;
    position:relative;
    margin-top:-1px;
}
input[id="menuicon"] + ul > li > a {
    display:block;
    width:auto;
    height:50px;
    overflow:hidden;
    transition:all .35s;
}
input[id="menuicon"] + ul > li > label {
    display:block;
    cursor:pointer;
    width:auto;
    height:50px;
    background:#dadada;
}
input[id="menuicon"] + ul > li:nth-child(1) label span {
    display:block;
    position:absolute;
    width:50%;
    height:3px;
    border-radius:30px;
    background:#333;
    transition:all .35s;
}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(1) {
    top:30%;
    left:50%;
    transform:translateX(-50%);
}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(2) {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
input[id="menuicon"] + ul > li:nth-child(1) label span:nth-child(3) {
    bottom:30%;
    left:50%;
    transform:translateX(-50%);
}
input[id="menuicon"] + ul > li:nth-child(2) a .icon {
    background:url('./img/search.png') center center no-repeat;
    background-size:50%;
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align:middle;
}
input[id="menuicon"] + ul > li:nth-child(3) a .icon {
    background:url('./img/sand-clock.png') center center no-repeat;
    background-size:50%;
    display:inline-block;
    width:50px;
    height:50px;
    vertical-align:middle;
}
input[id="menuicon"]:checked + ul {
    z-index:2;
    right:300px;
}
input[id="menuicon"]:checked + ul > li:nth-child(1) label {
    z-index:2;
    right:300px;
}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(1) {
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(2) {
    opacity:0;
}
input[id="menuicon"]:checked + ul > li:nth-child(1) label span:nth-child(3) {
    bottom:50%;
    left:50%;
    transform:translate(-50%,50%) rotate(-45deg);
}
div[class="sidebar"] {
    width:300px;
    height:100%;
    background: rgb(244, 242, 242);
    position:fixed;
    top:0;
    right:-300px;
    z-index:1;
    transition:all .35s;
}
input[id="menuicon"]:checked + ul + div {
    right:0;
}
.sidebar .profile{
    background-color: rgb(149, 18, 18);
    text-align: center;
    height: 200px;
}
.sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding-bottom: 10px;

}
.sidebar .profile h1{
    color: #ddd;
    margin:  0 5px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.sidebar .profile h2{
    color: #ddd;
    font-size: 14px;
    padding-bottom: 10px;
}
.sidebar ul li a{
    display: block;
    padding: 13px 30px;

    color: black;
    font-size: 16px;
    position: relative;
}
.sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;

}

.sidebar ul li a:hover{
    color: black;
    background:white;
    border-right: 2px solid black;
}
.sidebar ul li a:hover .icon,
.sidebar ul li a.active .icon{
    color: #0c7db1;
}
.sidebar ul li a:hover:before,
.sidebar ul li a.active:before{
    display: block;
}

.profile button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 4px gray;
}
.profile button:focus{
    outline:0;
}
.profile button:hover{
    background: white;
    cursor: pointer;
    box-shadow: 0 2px 4px wheat;
}
.profile h2{
    margin-bottom: 20px;
}
.profile p{
    margin-bottom: 50px;
}

.login{
    margin-right: 20px;
}

/* table */

.column.middle h2{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;

}
.noticetable{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.picture img{
    width: 85%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
th{
    font-size: 23px;
    padding-bottom: 10px;

}
td{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
}
.Tableh{
    border-top: 3px solid rgb(109, 13, 13);
    border-bottom: 2px solid rgb(109, 13, 13);
    background-color: #eee;
    padding-bottom: 20px;

}
tr:hover {
    background-color: #ddd;
}

/*slide*/
[name="slide"] {
    display:none;
}
.slidebox {
    max-width:1000px;
    width:100%;
    margin:0 auto;
    text-align:center;
    height: 500px;
    margin-top: 50px;

}
.slidebox img {
    max-width:100%;
    height: 500px;
}
.slidebox .slidelist {
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
}
.slidebox .slideitem {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .35s;
}
.slidebox .slideitem label {
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
label.left {
    left:20px;
    background-color:#5F5F5F;
    background-image:url('/img/left-arrow.png');
    background-position:center center;
    background-size:50%;
    background-repeat:no-repeat;
}
label.right {
    right:20px;
    background-color:#5F5F5F;
    background-image:url('/img/right-arrow.png');
    background-position:center center;
    background-size:50%;
    background-repeat:no-repeat;
}

/* 페이징 스타일 */
.paginglist {
    text-align:center;padding:30px 0;
}
.paginglist > li {
    display:inline-block;vertical-align:middle;margin:0 10px;
}
.paginglist > li > label {
    display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;
}
.paginglist > li:hover > label {
    background:#333;
}

[id="slide01"]:checked ~ .slidelist .slideitem {
    transform:translateX(0);animation:slide01 20s infinite;
}
[id="slide02"]:checked ~ .slidelist .slideitem {
    transform:translateX(-100%);animation:slide02 20s infinite;
}
[id="slide03"]:checked ~ .slidelist .slideitem {
    transform:translateX(-200%);animation:slide03 20s infinite;
}
[id="slide04"]:checked ~ .slidelist .slideitem {
    transform:translateX(-300%);animation:slide04 20s infinite;
}

@keyframes slide01 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:-300%;}
    98% {left:-300%;}
    100% {left:0%;}
}
@keyframes slide02 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide03 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide04 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:300%;}
    48% {left:300%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}