<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>승인 목록</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/permissionList.css">
    <script>
        function popup(){
            var url = "test";
            var name = "popup test";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
            window.open(url, name, option);
        }
    </script>
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>


<div class="row">
    <div class="column side">
        <h2>회원 관리</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
    </div>
    <div class="column middle">
        <h2>승인 목록</h2>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>이름</th>
                <th>학번</th>
                <th>학과</th>
                <th>성별</th>
                <th>휴대전화</th>
                <th>가입 신청서 보기</th>
                <th>선택</th>

            </tr>
            </thead>
            <tbody th:each="n : ${list}">
            <tr>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.n}">번호</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.name}">이름</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.studentID }">학번</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.department }">학과</td>
                <td>여자</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.phone}">핸드폰</td>
                <td class="open"><a href = "javascript:popup()" target = "_blank">열기</a></td>
                <td><label><input type="checkbox"></label></td>
            </tr>

            </tbody>
        </table>
        <div class="table_footer">
            <div class="btns">
                <input type='submit' value="승인">
                <input type='submit' value="거부">
            </div>
        </div>


    </div>
</div>

<div class="footer">
    <p>Footer</p>
</div>

</body>

</html>