<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>승인리스트</title>
    <link rel="stylesheet" href="/css/notice.css">
</head>
<body>
<div class="column middle">
    <h1><a href="/memberList">승인리스트</a></h1>

    <form action="/memberList" method="get">
        <div class="row">
            <div class="col-md-8 mb-3">
                <select id="searchBox" class="custom-select d-block w-100" name="select">
                    <option value="이름" th:selected="${#strings.equals(param.select, 'name')}">이름</option>
                    <option value="학과" th:selected="${#strings.equals(param.select, 'department')}">학과</option>
                </select> <input type="text" class="form-control" name="word"
                                 placeholder="검색어" th:selected="${#strings.equals(param.word, '')}" required>
                <!--                           placeholder="" th:value="${param.word}" required>-->
                <input type="submit" value="검색">
            </div>
        </div>
    </form>

    <form action="/delMember" method="post">
        <table class="noticetable">
            <tr id="tableheader">
                <th>이름</th>
                <th>학번</th>
                <th>학과</th>
                <th>핸드폰</th>
                <th>소속동아리</th>
                <th scope="cols">선택</th>
            </tr>

            <tbody th:each="n : ${list}"> <!--th:each="n : ${list}"-->
            <tr>
                <!--th:onclick="|location.href='@{/memberList/detail(studentID=${n.studentID})}'|"-->
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.name}">이름</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.studentID }">학번</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.department }">학과</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.phone}">핸드폰</td>
                <td th:onclick="|location.href='@{/permissionList/detail(num=${n.num})}'|" th:text="${n.club}">소속동아리</td>
                <td><input type="checkbox" name="del_id"></td>  <!--th:value="${n.num}"-->
            </tr>
            </tbody>
        </table>
</div>
</body>
</html>