<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>조회 및 가입</title>
    <link rel="stylesheet" href="/css/clubJoin.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

<div class="pathbox">
    <h2>pathbox</h2>
</div>

<div class="row">
    <div class="column side">
        <div class="sidewrapper">
            <div class="namebox">
                <h2 id="sidemenuname">
                    Menu
                </h2>
            </div>
            <ul class="sidemenu">
                <li id="now"><a href="/clubJoin">조회 및 가입</li>
                <li><a href="/joinManual">가입 방법</a></li>
            </ul>
        </div>
    </div>
    <div class="column middle">
        <h1>조회 및 가입</h1>
            <form action="/clubJoin">
                <select name="campus">
                    <option value="" th:selected="${#strings.equals(param.campus, 'campus')}">캠퍼스 선택</option>
                    <option value="충주" th:selected="${#strings.equals(param.campus, 'chungju')}">충주</option>
                    <option value="증평" th:selected="${#strings.equals(param.campus, 'jeungpyeong')}">증평</option>
                    <option value="의왕" th:selected="${#strings.equals(param.campus, 'uiwang')}">의왕</option>
                </select>
                <select name="type">
                    <option value="" th:selected="${#strings.equals(param.type, 'type')}">종류 선택</option>
                    <option value="스포츠" th:selected="${#strings.equals(param.type, 'sport')}">스포츠</option>
                    <option value="밴드" th:selected="${#strings.equals(param.type, 'band')}">밴드</option>
                    <option value="봉사" th:selected="${#strings.equals(param.type, 'volunteer')}">봉사</option>
                </select>
                <input type="submit" value="조회">
            </form>

            <!--<div class="products">
                <a href="/clubJoin/wicked">
                    <img src="/img/grid_1.jpg">
                    <p class="name">위키드</p>
                    <p class="price">야구동아리</p>
                </a>
                <a href="/clubJoin/perfect">
                    <img src="/img/grid_2.jpg">
                    <p class="name">퍼펙트</p>
                    <p class="price">테니스 동아리</p>
                </a>
                <a href="/clubJoin/poseidon">
                    <img src="/img/grid_3.jpg">
                    <p class="name">포세이돈</p>
                    <p class="price">밴드 동아리</p>
                </a>
                <a href="/clubJoin/return">
                    <img src="/img/grid_4.jpg">
                    <p class="name">RETURN</p>
                    <p class="price">농구 동아리</p>
                </a>
                <a href="/clubJoin/perfect">
                    <img src="/img/grid_1.jpg">
                    <p class="name">위키드</p>
                    <p class="price">야구동아리</p>
                </a>
                <a href="/clubJoin/perfect">
                    <img src="/img/grid_2.jpg">
                    <p class="name">퍼펙트</p>
                    <p class="price">테니스 동아리</p>
                </a>
                <a href="/clubJoin/perfect">
                    <img src="/img/grid_3.jpg">
                    <p class="name">포세이돈</p>
                    <p class="price">밴드 동아리</p>
                </a>
                <a href="/clubJoin/perfect">
                    <img src="/img/grid_4.jpg">
                    <p class="name">RETURN</p>
                    <p class="price">농구 동아리</p>
                </a>
                <a href="/clubJoin/perfect">
                    <img src="/img/grid_1.jpg">
                    <p class="name">위키드</p>
                    <p class="price">야구동아리</p>
                </a>
                <div class="clearfix"></div>
            </div>-->
        <div class="products" >
            <a href="/clubJoin/perfect" th:each="n : ${list}">
                <img th:src="${n.img}">
                <p class="name" th:text="${n.name}"></p>
                <p class="price" th:text="${n.activity} + '동아리'"></p>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>

</div>

<div class="footer">
    <p>Footer</p>
</div>

</body>
</html>