<!DOCTYPE html>
<html>
<head>
    <title>자세한 페이지</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/noticedetail.css">

</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<th:block th:replace="fragments/sidebar :: sideBarFragment"></th:block>

<div class="row">
    <div class="leftcolumn">
        <div class="card" th:each="p : ${profile}">
            <div class="detailheader">
                <h2 th:text="${p.name}">이름</h2>
                <div class="list">
                    <ul class="detailheaderlist" >
                        <li th:text="'학과:' + ${p.department}">학과</li>
                    </ul>
                    <ul class="detailheaderlist" >
                        <li th:text="'학번:' + ${p.studentId}">학번</li>
                    </ul>
                    <ul class="detailheaderlist" >
                        <li th:text="'핸드폰:' + ${p.phone}">핸드폰</li>
                    </ul>
                </div>
            </div><!---->
            <div class="detailcontent" style="height:auto; ">
                <p class="noticect" th:utext="${p.motive}">지원동기</p>
            </div>
            <div class="detailfooter">
                <button type="button" onclick="location.href='/permissionList'">목록</button>
            </div>

        </div>
    </div>
</div>

<div class="footer">
    <h2>Footer</h2>
</div>
</body>
</html>